<html>
<head>
    <link rel="stylesheet" type="text/css" href="{$basePath}/styles/jquery-ui-timepicker-addon.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.min.css" />
    <script src="{$basePath}/js/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/jquery-ui-timepicker-addon.js"></script>
    <script src="{$basePath}/js/dateInput.js"></script>
    <script src="{$basePath}/js/script.js"></script>
</head>
<body>
{default $close = false}
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
{include #form}
</body>
</html>